@model IEnumerable<Blog.Models.Article.ArticleMetadataViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>Published articles</h1>

<form class="form-inline" asp-action="List" method="get">
    <label class="sr-only" for="inlineFormInput">Search blog</label>
    <input type="text" class="form-control mr-4 mb-2" name="query" id="inlineFormInput" placeholder="Search blog">

    <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>

@foreach (var article in Model)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@article.Title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Published at @article.Time.Value.ToString("R")</h6>
            <p>
                Tags: &nbsp;
                @foreach (var tag in article.Tags)
                {
                    <span>@tag</span>
                }
            </p>
            <p class="card-text">Category: @article.Category</p>
            <a asp-action="Read" asp-route-id="@article.ArticleId" class="card-link">Read</a>
        </div>
    </div>
}
