@model Blog.Models.Article.ArticleViewModel
@{
    ViewData["Title"] = "Article";
}

<h1>@Model.Metadata.Title</h1>

<p>Category @Model.Metadata.Category</p>
<p>
    Tags: &nbsp;
    @foreach(var tag in Model.Metadata.Tags)
    {
        <span>@tag</span>
    }
</p>

<br />

@Html.Raw(Model.HtmlContent)

<br />

<p>Published at @Model.Metadata.Time.Value.ToString("R")</p>
<a asp-action="List" role="button" class="btn btn-link">Back to list</a>
