@model Blog.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my blog!</h1>
</div>

<h2 class="text-black mt-4">Latest articles</h2>

@foreach (var article in Model.LatestArticles)
{
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@article.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Published at @article.Time.Value.ToString("R")</h6>
                <p>
                    Tags: &nbsp;
                @foreach (var tag in article.Tags)
                {
                            <span>@tag</span>
                }
                </p>
                <p class="card-text">Category: @article.Category</p>
            <a asp-asp-controller="Article" asp-controller="Article" asp-action="Read" asp-route-id="@article.ArticleId" class="card-link">Read</a>
            </div>
        </div>
}

<a asp-asp-controller="Article" asp-action="List" class="card-link">View more</a>
